
html {
  font-size: 1rem;
  font-family: Helvetica;
  color: #4a4a4a;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 1048px;
  margin: 0 auto;
  /*border: 1px solid blue;*/
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  /*border: 1px solid red;*/
}

section {
  padding: 1rem;
  display: flex;
  justify-content: center;
  /*border: 1px solid green;*/
}
